.product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.product-container {
    margin-top: 100px;
    display: flex;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product-image {
    position: relative;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}
.product-image.fade-in {
    opacity: 1;
}

.product-image img {
    width: 100%;
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,1);
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 40px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.product-details.fade-in {
    opacity: 1;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-model, .product-price {
    font-size: 16px;
    margin-bottom: 10px;
}
.slider-buttons {
display: flex;
justify-content: space-between;
opacity: 20%;
transition: all 1s ease;
}
.slider-buttons:hover {
    opacity: 100%;
}